
body {
    background-color: #fafafa;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

h1 {
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    max-width: 600px;
    margin: 10px auto;
}
