
p {
    color: darkslategray;
    line-height: 1.5;
}

#para1 {
    text-align: center;
    color: red;
    font-weight: bold;
}

.center {
    text-align: center;
    color: blue;
}

p.center {
    color: green;         
}

.large {
    font-size: 24px;
}
