
body {
    background-color: #ffe4e1; /* rosita claro */
    font-family: Georgia, "Times New Roman", serif;
}

h1 {
    color: #006400;
    text-align: center;
}

p {
    font-size: 18px;
    color: #333333;
}
